/* skip to main */
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.skip{
    position: absolute;
    top:-40px;
}
.skip a:focus {
    position:relative;
    top: 60px;
}
*:focus{
    border: rgb(255, 255, 255) 5px solid;
}

/* Body Set */

body{
    background: url(../images/background.jpg) no-repeat fixed;
    /* Background image made by Frank Pelosi in Photoshop */
    background-size: cover;
}

/* Hamburger Menu - Desktop Menu Styling is at mediaquery breakpoint */

.desktop-menu{
    visibility: hidden;
    display: none;
}
.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 0px;
    background: rgba(255, 255, 255, 0.5);
    text-align: right;
    cursor: pointer;
}

/* Class for Hamburger JS */

.closeIcon{
    display: none;
}
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    color: white;
    list-style: none;
    padding-top: 4rem;
    padding-left: 32px;
}
/* Class for Hamburger JS */

.showMenu {
    transform: translateY(0);
}


/* Interior Hamburger Styling */

.menu li{
    padding: 16px 0;
}
.menu h1{
    font-family: 'Italiana', Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.menu a{
    text-decoration: none;
    color: white;
}

/* Set Current Active Page JS */

.current{
    font-weight: bolder;
}
.current:before, .current:after{
    content: ' \2022  ';
}

/* Toggle Menu Visiblity at Breakpoint */


@media only screen and (min-width: 990px){
    .desktop-menu{
        visibility: visible;
        display: block;
    }
    .menu, .hamburger{
        visibility: hidden;
        display: none;
    }
}








/* MOBILE DEFAULT VIEW */

/*universal css*/

h1{
    font-family: 'Italiana', Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
h2{
    padding-bottom: 8px;
    font-size: 24px;
}
h3{
    padding-bottom: 8px;
    font-size: 20px;
}
p{
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

.section, .bar-subsection, .subsection{
    padding: 16px;
    margin: 16px;
    background-color: rgba(255, 255, 255, 0.425);
}

.banner{
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    color: white;
    justify-content: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.80);
    background-color: black;
    padding: 16px;
}

.subsection{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.transparent{
    background: none;
    margin: 16px 0;
    padding: 16px 0;
}

.button-container{
    z-index: 2;
    background: black;
    text-align: center;
    width: 80%;
    color: white; 
    padding: 16px;
    margin: 0 auto;
}

.button-container h4{
    padding: 16px;
    color: white;
    text-decoration: underline;
}


.footer{
    margin: 100px 0 0 0;
    width: 100%;
}




/*index */

.homebanner{
    background: url(../images/homeimages/homebanner.jpg) no-repeat center;
    background-size: cover;
}

.feature-top{
    padding: 16px;
}

/* shadow class for featured shading */
.shadow{
    background:rgba(0, 0, 0, 0.3);
    padding: 16px;
}



/* CAROUSEL STYLING */
.carousel{
    box-sizing: border-box;
    position: relative;
    max-width: 800px;
    margin: auto;
}

.carousel ul{
    min-height: 500px;
}
.featured-top{
    margin-bottom: 16px
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 16px;
    position: absolute;
    box-sizing: border-box;
    inset: 0;
    /*default slide styling */
    opacity: 0;
    /* transition for carousel.js */
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    margin: 0 32px;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
}

.featured-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.slide[data-active]{
    /* set active slide in JS -- changing class */
    opacity:1;
    transition-delay: 0ms;
}


.slide > featured-wrapper{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.carousection{
    height: 600px;
}


.carousel-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 0;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-button:hover, .carousel-button:focus{
    color: white;
    background-color:rgba(0, 0, 0, 0.4);
}

/*set position of each button - absolute
 */ 
.carousel-button.prev{
    left: 0;
}
.carousel-button.next{
    right: 0;
}














/* DESKTOP STYLING UNIVERSAL */

@media only screen and (min-width: 990px){
.desktop-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 32px;
    background: rgba(0, 0, 0, 0.6);
    padding: 16px;
    align-items: center;
}
.desktop-menu ul li{
    text-align: center;
    display: inline;
    padding: 0 16px;
}

.navlogo{
    font-family: 'Italiana', Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    padding: 24px;

}
nav a{
    text-decoration: none;
    color: white;
}

nav ul a{
    font-size: 24px;
}
.banner{
    padding: 142px;
}
h1{
    font-size: 80px;
}
h2{
    padding: 16px;
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 16px;
}
p{
    font-size: 24px;
    padding: 0 16px;
}
.section{
    padding: 32px;
}
}






/* HOME DESKTOP VIEW */

@media only screen and (min-width: 990px){
    .featured-image{
        height: 400px;
    
    }
    .slide{
        padding: 50px;
        height: fit-content;
    }
    .carousection{
        height: 900px;
    }
    .carousel, .carousel ul{
        height: 800px;
    }
    .carousel-button{
        font-size: 4rem;
}

}













/* BARS MOBILE DEFAULT */

.barbanner{
    background: url(../images/barsimages/bar-banner.png) no-repeat center;
    background-size: cover;
    background-color: black;
}

.bars-recommendation{
    grid-area: 1/1/1/2;
}

.bar-image{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.bar-subsection{
    /* for tilt animation */
    transform-style: preserve-3d;
    transform: perspective (1000px);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/* BARS DESKTOP */

@media only screen and (min-width: 990px){
    .bars-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}
/* Most of BARS DESKTOP view is provided in universal media query */







/* RESTAURANT MOBILE DEFAULT */ 
.restaurantbanner{
    background: url(../images/restaurantimages/restaurant-banner.webp) no-repeat center;
    background-size: cover;
    background-color: black;
}
.restaurant-info{
    display: grid;
    grid-template-columns: 1fr;
}

/* Layout for dish.js Interaction */ 
.restaurant-column2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 16px 0;
    overflow: hidden;
}
.restaurant-column2 ul{
    list-style-position: inside;
}
.restaurant-column2 li{
    padding: 16px 0;
    font-size: 16px;
}
.dish-header{
    grid-area: 1/1/1/all;
}
#dish-wrapper{
    background: black;
    color: white;
    background-image: url('images/restaurantimages/rome-dishes/carbonara.jpg');
    /* images considered decorative following w3 accessibility guidelines https://www.w3.org/WAI/tutorials/images/decorative/*/
    /* image title included in HTML changes with dish.js selection  per stack overflow recommendations: https://stackoverflow.com/questions/4216035/css-background-image-alt-attribute*/
    background-size: cover;
    background-repeat: no-repeat;
}
#dish-wrapper h3{
    padding: 8px;
    background: black;
}


/* Set styling for dish.js to remove and add active class */
.i1:hover, .dish-active{
    font-weight: bold;
    font-style: italic;
}

.restaurant-image{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
/* c2 undergoes slide.js transition. Set default state and transition. */ 
.c2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
    opacity: 0;
    /* transition to show */
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%)
}

/* show state for slide.js to add/remove */
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



.dish-list li{
    font-size: 20px;
    list-style-position: inside;
    padding: 16px;
}


.restaurant-dish-wrapper{
    height: 300px;
    width: 300px;
    background: black;
    color: white;
    overflow: hidden;
}
.restaurant-dish-placeholder{
    height: 250px;
    overflow: hidden;
}

.restaurant-item{
    display: grid;
    grid-template-columns: 1fr;
}

/* Recommended Dish Styling */

.dish-image{
    object-fit: cover;
    height: 250px;
    width: 300px;
}
.recommended-dishes{
    justify-content: center;
    width: 100%;
    height: 100%;
}

.restaurant-dish-wrapper h3{
    padding: 0 0 0 16px;
}



/* RESTAURANT PAGE DESKTOP VIEW */

@media only screen and (min-width: 990px){
    .restaurant-info{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 32px;
    }
    .restaurant-column2 li{
      font-size: 24px;
    }
    .c2{
      grid-template-columns: 1fr 1fr;
    }
    .recommended-dishes{
      grid-area: 1/1/1/span 2;
    }
    .restaurant-item{
      display: grid;
      grid-template-columns: 1fr 1fr;
        }
  .subsection{
      margin: 16px;
  }
  }



/* REDUCE MOTION */

  @media (prefers-reduced-motion){
    .slide{
        transition: none;
        transition-delay: 0;
        margin: 0 32px;
        height: 800px;
        background: rgba(255, 255, 255, 0.2);
    }
    .c2{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .menu {
        position: fixed;
        transform: translateY(0);
        display: none;
        transition: none 0;
    }
    .showMenu {
        transform: translateY(0);
        display: block;
    }
}
/* reduce motion for bar cards is located at bottom of tilt.js */

